@import "variables";


@mixin display ($display : flex , $align-items : center , $justify-content : center ){
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}


@mixin position($position: relative , $top: $unset, $right: $unset, $left: $unset, $bottom: $unset){
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}


@mixin dimension( $height: 100%, $width: 100%){
  height: $height;
  width: $width;
}
