$unset : unset;


//fonts
$font_12 : 12px;
$font_14 : 14px;
$font_16 : 16px;
$font_18 : 18px;
$font_20 : 20px;
$font_25 : 25px;
$font_30 : 30px;

//colors
$color_white : #fff;
$color_black : #000;
$light_gray : #eee;
$dark_gray : #777;

//display
$flex : flex;
$block : block;
$inline : inline;

//directions
$center : center;
$right : right;
$left : left;
