//google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import "variables";
@import "mixins";

/* css reset start */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: $block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
    font-family: Garamond sans-serif;
}

p {
    font-family: PT Serif;
}


/* css reset end */

//form validate
.form-validate span {
    color: red;
}

//form validate

/*start Header*/

.scroll-fixed-header.is-fixed {
    background-color: $color_white;
}

.nav {
    @include position(fixed,
    0);
    z-index: 100;
    width: 100%;
}

.header {
    padding: .4%;
    @include dimension(100px);
    background-color: transparent;
    color: #bfbfbf;
    .header-bar,
    .header-menu,
    .header-logo {
        height: 100%;
        padding: .4%;
    }
    .login {
        @include display($flex,
        $center,
                flex-end);
        @include dimension;
        button {
            margin: 0 3px;
        }
    }
    .header-logo {
        @include display($flex,
        $center,
        $unset);
        img {
            @include dimension( 50px,
            auto);
            color: $color_white;
        }
    }
    .header-menu {
        @media all and (max-width: 992px) {
            @include display(none , $unset , $unset);
        }
    }
    .header-menu ul {
        padding: 1%;
        margin: 0;
        height: 100%;
        >li {
            float: left;
            height: 100%;
            padding: 0 10px;
            >a {
                height: 100%;
                @include display;
                color: #aaa;
                font-family: Tahoma sans-serif;
                font-size: $font_18;
                &:hover {
                    color: $color_white;
                    text-decoration: none;
                }
            }
        }
    }
    .header-bar {
        direction: rtl;
        @include display(none,
        $center,
        $unset);
        i {
            display: inline-block;
            font-size: $font_20;
            color: $color_black;
            float: right;
            cursor: pointer;
        }
        @media all and (max-width: 992px) {
            display: $flex;
        }
    }
}

.default-header {
    height: 100px;
    .header-menu>ul>li>a {
        color: $dark_gray;
        &:hover {
            color: $color_black;
        }
    }
}

.header-fixed .header-menu>ul>li>a {
    color: $dark_gray;
    &:hover {
        color: $color_black;
    }
}

.mobile-menu {
    height: 80vh;
    >ul {
        background-color: rgba(0, 0, 0, .9);
        @include dimension;
        padding: 2%;
        >li {
            padding: 2%;
            text-align: center;
            width: 100%;
            >a {
                text-decoration: none;
                color: #bfbfbf;
                font-size: $font_30;
                font-weight: bolder;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    @media all and (min-width: 992px) {
        @include display(none,
                $center,
                $unset);
    }
}


/*end Header*/


/* start Footer*/

.footer {
    padding: 0;
    margin: 0;
    background-color: #dfdfdf;
    .footer-content {
        padding-bottom: 3%;
        padding-top: 3%;
        color: #888;
        .social-media {
            font-size: $font_25;
            line-height: 30px;
            i {
                margin: 0 10px;
            }
        }
        .footer-info p {
            /*padding: 3%;*/
            line-height: 30px;
        }
    }
}


/* end Footer*/


/*start Home*/

.home {
    //about
    .home-about {
        height: 700px;
        padding: 1%;
        @include display;
        background-image: url("../images/home-7.jpg");
        background-size: 100% 100%;
        @include position;
        .home-about-bg {
            @include position(absolute,
            0,
            0);
            @include dimension;
            background-color: rgba(0, 0, 0, .5);
            z-index: 9;
        }
        .home-about-content {
            @include position(absolute,
            0,
            0);
            @include dimension;
            z-index: 10;
            @include display;
            flex-wrap: wrap;
            color: $color_white;
            >div {
                width: 100%;
            }
            h6 {
                padding: 2%;
                font-size: $font_16;
                font-family: Gadugi;
            }
            h4 {
                padding: 1%;
                font-size: $font_30;
                font-weight: bolder;
                font-family: Garamond sans-serif;
            }
        }
        .about-btn {
            @include position(absolute,
            $unset,
            $unset,
            auto,
            15%);
            border-radius: 50%;
            border-color: $color_white;
            color: $color_white;
            font-size: $font_20;
            z-index: 10;
            @include dimension(50px,
            50px);
        }
        @media all and (max-width: 992px) {
            height: 500px;
        }
        @media all and (max-width: 576px) {
            height: 400px;
        }
    }
    //patterns
    .pattern {
        padding: 7% 0;
        background-image: url("../images/bg-pattern.jpg");
        color: $color_white;
        .pattern-content {
            @include display($flex,
            $center,
            space-between);
            flex-wrap: wrap;
            >div {
                width: 25%;
                padding: 0;
                @media all and (max-width: 992px) {
                    width: 50%;
                    padding: 2%;
                }
            }
            .pattern-icon {
                padding: 0;
                i {
                    font-size: $font_30;
                    padding: 0;
                }
            }
            .pattern-information {
                padding: 0;
                p,
                h3 {
                    padding: 1%;
                }
            }
        }
    }
    /*brands*/
    .brands {
        padding: 2% 10%;
        .brands-slider .swiper-slide {
            height: 150px;
            background-image: url("../images/brands.jpg");
            background-size: 100% 100%;
            cursor: pointer;
        }
    }
    /*comments*/
    .comments {
        padding: 1% 10%;
        background-image: url("../images/bg-pattern.jpg");
        cursor: pointer;
        .swiper-container {
            text-align: center;
            padding: 2%;
            color: $color_white;
            @include display;
            flex-wrap: wrap;
            padding: 5% 0;
            width: 100%;
            h4 {
                line-height: 30px;
                font-size: $font_25;
                font-style: italic;
                padding: 3% 0;
                span {
                    color: aqua;
                    &:hover {
                        color: blue;
                    }
                }
            }
            p {
                font-size: $font_14;
            }
        }
        button>a {
            text-decoration: none;
            color: $color_white;
        }
        .add-comment {
            width: 100%;
            @include display;
        }
        .form-validate.row span {
            color: yellow;
        }
    }
}

//portfolios
.portfolios {
    padding-top: 5%;
    padding-bottom: 5%;
    .row {
        @media all and (max-width: 992px) {
            padding: 0;
        }
    }
}

.portfolios-sub {
    h1 {
        font-size: $font_30;
        font-weight: bold;
        font-family: Garamond sans-serif;
    }
    p {
        padding: 0 20%;
        line-height: 30px;
    }
}

.portfolio-content {
    @include position;
    height: 400px;
    background-size: 100% 100%;
    padding: 1%;
    >a {
        display: $block;
        @include dimension;
        >img {
            display: $block;
            @include dimension;
        }
        .portfolios-content-hover {
            opacity: 0;
            cursor: pointer;
            @include position(absolute,
            0,
            $unset,
            0);
            @include dimension;
            background-color: rgba(0, 0, 0, .7);
            @include display;
            color: $color_white;
            transition: 2s;
            h1 {
                font-size: $font_25;
                font-weight: bold;
                text-transform: uppercase;
            }
            h3 {
                font-size: $font_20;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    &:hover .portfolios-content-hover {
        opacity: 1;
    }
    @media all and (max-width: 992px) {
        height: 400px;
    }
}


/*blogs*/

.blogs {
    padding-top: 5%;
    padding-bottom: 5%;
    h1 {
        font-family: Garamond sans-serif;
    }
    p {}
    .blog-slider {
        .swiper-container {
            padding: 5% 0;
        }
        .swiper-slide {
            cursor: pointer;
        }
    }
}

.blog-img {
    @include position;
    img {
        @include dimension(220px);
    }
    button {
        @include position(absolute,
        $unset,
        $unset,
        5%,
        5%);
    }
    .blog-bg {
        @include position(absolute,
        0,
        0);
        background-color: rgba(255, 255, 255, .2);
        @include dimension;
        @include display(none,
                $center,
                $unset);
        z-index: 10;
    }
    &:hover .blog-bg {
        display: $block;
    }
}

.blog-content {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    h1 {
        font-size: $font_25;
        padding: 3% 0;
        font-weight: bold;
        color: $color_black;
    }
    h4 {
        font-size: $font_16;
        padding: 3% 0;
    }
}

.blog-content a:hover .blog-content a>h1 {
    color: darkslategrey;
}


/*contact*/

.contact {
    background-color: #efefef;
    padding-top: 4%;
    padding-bottom: 4%;
    .contact-info {
        h1 {
            font-size: $font_25;
            font-weight: bolder;
            font-family: Garamond sans-serif;
        }
        p {
            font-size: $font_16;
            font-weight: bold;
            color: #888;
            line-height: 25px;
        }
        span {
            font-size: $font_18;
            font-weight: bold;
            color: $color_black;
        }
    }
}


/*ned Home*/

//about start
.about {
    padding: 7% 0;
    @include display;
    .about-content {
        padding: 1%;
        h1 {
            font-size: 40px;
            font-weight: bolder;
            font-family: Garamond sans-serif;
        }
        p {
            padding: 0 25%;
            font-size: $font_16;
            line-height: 25px;
            font-family: PT Serif !important;
        }
    }
}

//about end

/*blog and single-blog start*/

.blog {
    background-color: $light_gray;
    .toggle-menu i {
        color: $dark_gray;
        font-size: $font_20;
        cursor: pointer;
    }
    .toggle-menu-black i {
        color: $color_black;
    }
    .blog-menu {
        padding: 1%;
        transition: 1s;
        ul {
            padding: 1%;
            text-align: center;
            >li {
                color: $dark_gray;
                display: $inline;
                padding: .5% 2%;
                font-size: $font_12;
                cursor: pointer;
                &.active {
                    color: $color_white;
                    background-color: darkslategrey;
                }
            }
        }
    }
    .single-blogs {
        padding: 5% 20%;
        .blog-img img {
            @include dimension(400px);
            @media all and (max-width: 768px) {
                height: 300px;
            }
        }
    }
}

.single-blog {
    margin: 0 -15px 0 -15px;
    .single-blogs {
        .blog-img img {
            height: 600px;
            @media all and (max-width: 768px) {
                height: 400px;
            }
        }
        .blog-content {
            padding: 50px 1%;
        }
    }
}

.blog-content {
    h1 {
        font-size: $font_30;
    }
    p {
        font-size: $font_20;
        line-height: 25px;
        font-family: PT Serif;
        font-style: italic;
    }
}

.category {
    text-transform: uppercase;
}

@media all and (max-width: 768px) {
    .blog .single-blogs .blog-img img {
        height: 300px;
    }
    .single-blog .single-blogs .blog-img img {
        height: 400px;
    }
}


/*blog and single-blog  end*/


/*portfolio start*/

.portfolio {
    background-color: $light_gray;
    .toggle-menu i {
        color: $dark_gray;
        font-size: $font_20;
        cursor: pointer;
    }
    .toggle-menu-black i {
        color: $color_black;
    }
    .blog-menu {
        padding: 1%;
        transition: 1s;
        ul {
            padding: 1%;
            text-align: center;
            >li {
                color: $dark_gray;
                display: $inline;
                padding: .5% 2%;
                font-size: $font_12;
                cursor: pointer;
                &.active {
                    color: $color_white;
                    background-color: darkslategrey;
                }
            }
        }
    }
}

.portfolios-content {
    h1 {
        font-size: $font_30;
        font-weight: bolder;
        font-family: Garamond sans-serif;
    }
    p {
        font-size: $font_18;
        font-family: PT Serif;
        line-height: 20px;
        color: $dark_gray;
        font-style: italic;
    }
    .portfolio-info {
        @include display;
        flex-direction: column;
        p {
            width: 100%;
            line-height: 25px;
        }
        span.portfolio-info-title {
            color: $color_black;
            font-style: $unset;
        }
    }
}

.portfolio-img {
    padding: 0;
    margin: 50px 0 0 0;
    img {
        @include dimension(auto);
    }
}


/*portfolio end*/
//my-comments
.my-comments{
    .comment{
        h3{
            padding: 1%;
            font-size: 16px;
            font-weight: bold;
        }
        .comment-options{
            padding: .5%;
            span{
                font-size: 14px;
                color: cornflowerblue;
                padding: 2%;
                cursor: pointer;
            }
        }
    }
}
//login stsrt
.login {
    margin: 0;
    padding: 2%;
    height: 470px;
    @include display;
    h1 {
        font-size: 25px;
    }
    form {
        border: 1px solid blueviolet;
        border-radius: 10px;
    }
}

//end login

//dashboard
.dashboard{
    padding: 10%;
    text-align: center;
    h3{
        font-size: 20px;
        font-weight: bold;
        span{
            font-size: 18px;
            font-style: italic;
            font-weight: unset;
        }
    }
}